<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid gray;
            padding: 5px;
        }
    </style>

</head>
<body class="d-flex justify-content-center my-5 p-5">

<div id="app">
    <ul>
        <li v-for="(skill, i) in skills" :key="skill.name">
            <p>
                {{i + 1}}. {{ skill.name }} -
                <span v-if="skill.experience < 4">Beginner</span>
                <span v-else-if="skill.experience < 6">Proficient</span>
                <span v-else>Expert</span>
            </p>
        </li>
    </ul>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="index.js"></script>
</body>
</html>