<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid gray;
            padding: 5px;
        }
    </style>

</head>
<body class="d-flex justify-content-center my-5 p-5">

    <div id="app">
        <input type="text" placeholder="Write your review" v-model="review" />

        <h3>Skills</h3>
        <ul>
            <li
                    v-for="(skill, i) in skills"
                    :key="skill.name"
                    @click="removeSkill(i)"
            >
                <p>{{ skill.name }} - {{ skill.experience }}</p>
            </li>
        </ul>

        <h3>Total: {{totalCount1}}</h3>

        <h3>Experienced Skills</h3>
        <ul>
            <li
                    v-for="(skill, i) in experiencedSkills"
                    :key="skill.name"
                    @click="removeSkill(i)"
            >
                <p>{{ skill.name }} - {{ skill.experience }}</p>
            </li>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="index.js"></script>
</body>
</html>